<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.mario.notiassist">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="NotiAssist"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="it.mario.notiassist.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="it.mario.notiassist.ui.ConfirmReplyActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <service
            android:name="it.mario.notiassist.listener.NLService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

    </application>
</manifest>
